numpy
Flask
flask-cors
schedule
SpeechRecognition
pyttsx3
pyaudio
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
psutil
vosk
pycaw; sys_platform == 'win32'
wmi; sys_platform == 'win32'
comtypes; sys_platform == 'win32'
